
header {
  font-size: 14px;
}

.forward-button {
  color: #1EC68C;
  cursor: pointer;
}

.deny-button {
  color: red;
  cursor: pointer;
}




.candidate-list,
.rates-chat-contact,
.main-content {
  background-color: white;
  border-radius: 30px;
}

.main-content {
  padding: 5vh;
}

.main-buttons {
  align-items: center;
}


.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.rates-candidate {
  padding-top: 2vh;
  text-align: center;
}

@media (max-width: 991px) {
}

.myFirstPlayer {
  display: flex;
  justify-content: center;
}

